<%- include('../layouts/header', {titulopage: __('benefits')}); -%>
<%- include('../layouts/navbar'); -%>
    <section class="hero is-medium has-background-text-45 mt-6">
        <div class="hero-body">
          <p class="title has-text-primary-100 has-text-right"><%= __('benefits') %></p>
          <p class="subtitle has-text-primary-100 has-text-right"><%= __('benefits_subtitle') %></p>
        </div>
    </section>

    <div class="container mt-4">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content has-background-primary-35">
                        <p class="title">
                            <%= __('benefits_title') %>
                        </p>
                        <p class="subtitle"><%= __('benefits_title_dos') %></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-background-warning-70">
                        <p class="title">
                            
                            <%= __('benefits_subtitle_tres') %>
                        </p>
                        <p class="subtitle"><%= __('benefits_title_tres') %></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content has-background-danger-80">
                        <p class="title">
                             
                            <%= __('benefits_subtitle_cuatro') %>
                        </p>
                        <p class="subtitle"><%= __('benefits_title_cuatro') %></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content has-background-link-80">
                        <p class="title">
                            
                            <%= __('benefits_subtitle_quinto') %>
                        </p>
                        <p class="subtitle"><%= __('benefits_title_quinto') %></p>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-content has-background-info-60">
                        <p class="title">
                            
                            <%= __('benefits_subtitle_sexto') %>
                        </p>
                        <p class="subtitle"><%= __('benefits_title_sexto') %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include('../layouts/footer'); -%>