<%- include('../layouts/header', {titulopage: __('us') }); -%>
<%- include('../layouts/navbar'); -%>
    <section class="hero is-medium has-background-text-45 mt-6">
        <div class="hero-body">
            <p class="title has-text-primary-100 has-text-centered is-uppercase"><%= __('us') %></p>
            <p class="subtitle has-text-primary-100 has-text-centered"><%= __('us_are') %></p>
        </div>
    </section>

    <div class="container mt-4 is-one-third-desktop is-one-third-tablet is-full-mobile">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="assets/img/modelo_007.jpeg" alt="Image" />
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <h1>Lujo</h1> <small><%= __('us_small') %></small>
                        </p>
                        <p class="has-text-justified">
                            <%= __('us_content_uno') %>
                        </p>
                        <p class="has-text-justified">
                            
                            <%= __('us_content_dos') %>
                        </p>
                        <p class="has-text-justified">
                            
                            <%= __('us_content_tres') %>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" aria-label="reply">
                                <span class="icon is-small">
                                    <i class="fas fa-reply" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="level-item" aria-label="retweet">
                                <span class="icon is-small">
                                    <i class="fas fa-retweet" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="level-item" aria-label="like">
                                <span class="icon is-small">
                                    <i class="fas fa-heart" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>



    <%- include('../layouts/footer'); -%>